button {
  border: none;
  background-color: $color-blue;
  color: white;
  height: 50px;
  min-width: 130px;
  font-size: 16px !important;
  font-weight: bold;

  &.disabledButton {
    background-color: $color-black-20;
  }
}