$color-main:  #84CF6A;
$color-lime:  #16C0B0;
$color-green: #41B883;
$color-blue:  #1E95EA;
$color-dark-main: #36495d;

$color-black: #000000;
$color-black-20: lighten($color-black, 90%);

$color-error: #8b0000;
$color-warning: #cd7500;