@import "variables";
@import "fonts";
@import "buttons";
@import "lists";

.info {
  color: $color-green;
  font-weight: bold;
}

.almostSoldOut {
  color: $color-warning;
}

.outOfStock {
  color: $color-error;
}


.img-wrapper {
  display: block;
  width: 100%;
  text-align: center;
}

.pull-right {
  text-align: right;
}

.pull-left {
  text-align: left;
}

.flex-wrapper {
  -ms-box-orient: horizontal;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;

  * {
    box-sizing: border-box;
  }

  .flex-full {
    flex: 1 100%;
  }

  .flex-half {
    margin-top: 10px;
    width: 50%;

    @media only screen and (max-width: 768px) {
      flex: 1 100%;
    }
    @media only screen and (min-width : 992px) {
      flex: 1;
    }
  }

  .flex-third {
    margin-top: 10px;
    width: 33.33%;

    @media only screen and (max-width: 768px) {
      flex: 2 100%;
    }
    @media only screen and (min-width : 992px) {
      flex: 3;
    }
  }

  .flex-quater {
    margin-top: 10px;
    width: 25%;

    @media only screen and (max-width: 768px) {
      flex: 2 100%;
    }
    @media only screen and (min-width : 992px) {
      flex: 4;
    }
  }
}