@import "variables";
@import "fonts";
@import "buttons";
@import "lists";

.info {
  color: $color-green;
  font-weight: bold;
}

.almostSoldOut {
  color: $color-warning;
}

.outOfStock {
  color: $color-error;
}

.saleBanner {
  display: block;
  width: 60px;
  height: 60px;
  color: white;
  font-weight: bold;
  transform: rotate(22deg);
  position: absolute;
  right: 40px;
  text-align: center;
  top: 25px;
  padding: 8px;
  background: $color-green;
  border-radius: 100%;
  text-align: center;
  line-height: 21px;
}

hr {
  border-color: $border-color;
  border-top: 0;
}

.mr-1 {
 margin-right: 12px;
}
.ml-1 {
  margin-left: 12px;
}
.mt-1 {
  margin-top: 12px;
}
.mb-1 {
  margin-bottom: 12px;
}

.h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.icon {
  max-width: 25px;
  max-height: 25px;
  width: auto;
  display: inline-block;
  vertical-align: text-bottom;
  height: auto;
}

.img-wrapper {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.pull-right {
  text-align: right;
}

.pull-left {
  text-align: left;
}

.flex-wrapper {
  -ms-box-orient: horizontal;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;

  * {
    box-sizing: border-box;
  }

  .flex-full {
    flex: 1 100%;
  }

  .flex-half {
    margin-top: 10px;
    width: 50%;

    @media only screen and (max-width: 768px) {
      flex: 1 100%;
    }
    @media only screen and (min-width : 992px) {
      flex: 1;
    }
  }

  .flex-third {
    margin-top: 10px;
    width: 33.33%;

    @media only screen and (max-width: 768px) {
      flex: 2 100%;
    }
    @media only screen and (min-width : 992px) {
      flex: 3;
    }
  }

  .flex-quater {
    margin-top: 10px;
    width: 25%;

    @media only screen and (max-width: 768px) {
      flex: 2 100%;
    }
    @media only screen and (min-width : 992px) {
      flex: 4;
    }
  }
}