@import "../main/variables";

#socks {
  padding: 0 20px;
  margin: 0;
  list-style: none;
}

.product {
  display: flex;
  flex-flow: wrap;
  padding: 1rem;
}

.product-image {
  img {
    border: 1px solid $color-black-20;
    max-width: 500px;
    width: 70%;
    margin: 2em;
  }
}

.review-form {
  width: 400px;
  padding: 20px;
  margin: 40px;
  border: 1px solid #d8d8d8;
}


.tab {
  margin-left: 20px;
  cursor: pointer;
}

.activeTab {
  color: #16C0B0;
  text-decoration: underline;
}


.color-choose {
  margin-top: 20px;

  a {
    border: 4px solid white;
    box-sizing: unset;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100%;

    &:hover {
      border-color: $color-dark-main;

    }

    &.green {
      background: $color-green;
    }

    &.blue {
      background: $color-blue;
    }
  }
}

